$bodyColor: #eef8fb;
$textColor: #333333;
$btnHeaderColor: #06c2b1;
$mainColor: #ffffff;
$infoText: #00b9b6;
$titleColor: #0e0e0f;
$cardColor: #ffa800;
$buttonStartColor:#dadada;
$servicesColor:#00b9b613;
