$bodyColor: #eef8fb;
<<<<<<< HEAD
<<<<<<< HEAD
$textColor:#333333;
$btnHeaderColor:#06c2b1;
$mainColor:#FFFFFF;
$infoText:#00B9B6;
$footerColor: #ffffff;
$titleColor: #0E0E0F;
=======
=======
>>>>>>> 218fa70c2b84750891871b705c3f477ef6eb8cd8
$textColor: #333333;
$btnHeaderColor: #06c2b1;
$mainColor: #ffffff;
$infoText: #00b9b6;
<<<<<<< HEAD
>>>>>>> 218fa70 (footer)
=======
>>>>>>> 218fa70c2b84750891871b705c3f477ef6eb8cd8
