@import "_variables";
@import "_fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  justify-content: center;
  // height: 100vh;
  background-color: rgba(246, 246, 246, 0.803);
  margin-left: 10%;
  margin-right: 10%;
}

.part4 {
  display: grid;
}

.aboutService {
  display: grid;
  grid-template-columns: 5fr 2fr 3fr ;
  grid-template-rows: 1fr 7fr 2fr;
}

.aboutService__title {
  grid-row: 1/2;
  grid-column: 1/4;
  font-family: "Inter-Regular";
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.aboutService__video {
  grid-row: 2/3;
  grid-column: 1/3;
}

.video-tag {
  width: 100%;
  height: 100%;
}

.aboutService__text {
  display: grid;
  grid-row: 2/3;
  grid-column: 3/4;
  grid-template-rows: repeat(3, fr);
  margin-left: 10px;
  font-family: "Inter-Regular";
}

.aboutService__card1 {
  grid-row: 1/2;
  align-self: end;
  font-family: "Inter-Regular";
}

.aboutService__card2 {
  grid-row: 2/3;
  align-self: center;
  font-family: "Inter-Regular";
}

.aboutService__card3 {
  grid-row: 3/4;
  align-self: start;
  font-family: "Inter-Regular";
}

.card_figure {
  font-family: "Inter-Regular";
  font-size: 48px;
  font-weight: 900;
  color: #FFA800;
}

.card_text {
  font-family: "Inter-Regular";
  font-size: 18px;
}

.aboutService__cardLater {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-row: 3/4;
  grid-column: 1/2;
  width: 95%;
  height: 110px;
  padding: 20px;
  border-radius: 20px;
  font-family: "Inter-Regular";
  -webkit-box-shadow: 8px 10px 14px -4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 8px 10px 14px -4px rgba(34, 60, 80, 0.2);
  box-shadow: 8px 10px 14px -4px rgba(34, 60, 80, 0.1);
}

.aboutService__cardNow {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-row: 3/4;
  grid-column: 2/4;
  width: 95%;
  height: 110px;
  padding: 20px;
  border-radius: 20px;
  font-family: "Inter-Regular";
  -webkit-box-shadow: 8px 10px 14px -4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 8px 10px 14px -4px rgba(34, 60, 80, 0.2);
  box-shadow: 8px 10px 14px -4px rgba(34, 60, 80, 0.1);
}

.card_img {
  width: 78%;
  height: 75%;
}

.howitWorks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr 4fr 1fr;
  font-family: "Inter-Regular";
}

.howitWorks__title {
  grid-row: 1/2;
  grid-column: 1/4;
  font-size: 36px;
  font-family: "Inter-Regular";
  font-weight: 900;
  text-align: center;
}

.howitWorks__card1 {
  grid-row: 2/3;
  grid-column: 1/2;
  font-family: "Inter-Regular";
}

.howitWorks__card2 {
  grid-row: 2/3;
  grid-column: 3/4;
  font-family: "Inter-Regular";
}

.howitWorks__card3 {
  grid-row: 3/4;
  grid-column: 1/2;
  font-family: "Inter-Regular";
}

.howitWorks__card4 {
  grid-row: 3/4;
  grid-column: 3/4;
  font-family: "Inter-Regular";
}

.card_title {
  font-family: "Inter-Regular";
  font-size: 20px;
  font-weight: 900;
}

.card_text {
  font-family: "Inter-Regular";
  font-size: 18px;
}

.howitWorks__photo {
  grid-row: 2/4;
  grid-column: 2/3;
  align-content: center;
}

.howitWorks__button {
  grid-row: 4/5;
  grid-column: 2/3;
  text-align: center;
}

.button_start {
  font-family: "Inter-Regular";
  font-size: 24px;
  font-weight: 800;
  padding: 15px 25px 15px 25px;
  border-radius: 15px;
  border-color: #00B9B6;
  color: #00B9B6;
  background-color: white;
}

.services {
  display: grid;
  grid-template-columns:2fr 3fr;
  grid-template-rows:1fr 4fr;
}

.services__title {
  grid-row: 1/2;
  grid-column: 1/3;
  font-family: "Inter-Regular";
  font-size: 36px;
  font-weight: 900;
}

.services__card1 {
  grid-row: 2/3;
  grid-column: 1/2;
  font-family: "Inter-Regular";
}

.services__card2 {
  grid-row: 2/3;
  grid-column: 2/3;
  font-family: "Inter-Regular";
}